<h2>Liste des armes</h2>
<app-filter [filter]="filter" (event)="filtrer()" [min]="-5" [max]="5"></app-filter>
<mat-accordion *ngIf="!isLoading">
  <mat-expansion-panel *ngFor="let arme of armes">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{arme.name}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <button mat-icon-button color="primary" routerLink="/detail-arme/{{arme.id}}">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button (click)="removeArme(arme)">
      <mat-icon matListIcon color="warn">delete</mat-icon>
    </button>
    <canvas height="50vh"
            baseChart
            [datasets]="arme.chartData"
            [options]="radarChartOptions"
            [labels]="radarChartLabels"
            [chartType]="radarChartType"
            class="chart">
    </canvas>
  </mat-expansion-panel>
</mat-accordion>
<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
