<h2>Liste des heros</h2>
<app-filter [filter]="filter" (event)="filtrer()" [max]="40" [min]="0"></app-filter>
<mat-accordion *ngIf="!isLoading">
  <mat-expansion-panel *ngFor="let hero of heroes">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{hero.name}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <button mat-icon-button color="primary" routerLink="/detail/{{hero.id}}">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button (click)="removeHero(hero)">
      <mat-icon matListIcon color="warn">delete</mat-icon>
    </button>
    <canvas height="50vh"
            baseChart
            [datasets]="hero.chartData"
            [options]="radarChartOptions"
            [labels]="radarChartLabels"
            [chartType]="radarChartType"
            class="chart">
    </canvas>
  </mat-expansion-panel>
</mat-accordion>
<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
